<%- include("./partials/header.ejs") %>
<h1>Sample Devices</h1>
<ul>
<% for (const device of devices) { %>
    <li><a href="<%= device.key %>"><%= device.name %></a></li>
<% } %>
</ul>
<hr>
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Create New Device</label>
        <input type="text" class="form-control" name="deviceName" required placeholder="Device Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include("./partials/footer.ejs") %>